body
{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
ul
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img
{
    width: 550px;
    height: 200px;
}
a
{
    text-decoration: none;
    color: orangered;
    transition: color 0.3;
}
.navBar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}
.navList
{
    list-style: none;
    display: flex;
    gap: 43%;
}
li
{
    display: inline;
}
nav
{
    background-color: black;
    height: 1px;
}
footer
{
    color: orangered;
}
.slideshow
{
    display: flex;
    background-color: white;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    size: 100%;
}
.slides
{
    display: flex;
    width: 8.33%;
    animation: slide 24s linear infinite;
}
.slide
{
    size: 100%;
    flex-shrink: 0;
    margin-right: 20px;
}
.slide img
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}
@keyframes slide
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-1200%);
    }
}